deep_translator
openai
aiofiles
aiohttp
asyncio
requests
unidecode
python-dotenv
speedtest-cli
spotipy
urllib3
uvloop
flask
ffmpeg-python
pycountry
emojis
heroku3
unidecode
python-dotenv
#httpx[http2]
httpx==0.27.2
motor
wget
psutil
ntgcalls==1.1.2
pillow==11.0.0
pymongo==4.9.1
py-tgcalls==0.9.7
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
#pyromod
#pytube
#pykeyboard
#pyyaml
#beautifulsoup4
#dnspython
#lyricsgenius
#tgcrypto
#blackpink
#gitpython
#hachoir
#pyshorteners
#gunicorn==22.0.0
#youtube-search
#youtube-search-python
#pornhub-api==0.3.0
#telegraph
#async_pymongo
#gpytranslate
#search_engine_parser
#cloudscraper
#pycryptodome
#pickledb
#Faker
#pyfiglet
#qrcode
#pytz
#pydub
#apscheduler
#gtts
#lexica-api==1.5.7
#git+https://github.com/Vivekkumar-IN/yt-dlp-youtube-oauth2
